
.navbar-collapse {
    z-index: 3;
}

.first{
    background-image: url(./assets/images/samsumg\ fix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

.first::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 1;
}

.nava{
    z-index: 2;
}

.lidrop{
    position: relative;
    z-index: 10;
}

.text{
    -webkit-text-fill-color: white;
    position: relative;
    z-index: 3;
}

.display-4{
    -webkit-text-fill-color: black;
    font-weight: bold;
}


.KDlogo{
    border-radius: 50px;
}
.nava{
  -webkit-text-fill-color: black;  
}

.navbar-collapse{
    border-radius: 5%;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.feature col{
    z-index: 2;
}

.FT{
    text-align: justify;
}

.carousel-item{
    position: relative;
}

.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.78px);
    -webkit-backdrop-filter: blur(0.78px);
    z-index: 1;
}

.cahead{
    position: relative;
    z-index: 2;
}

.aboutbody{
    background-image: url(./assets/images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.aboutbody::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: -1;
}

.AB{
    height: 80vh;
}

.FD{
    border-radius: 50%;
    float: left;
}

.founder > h1{
    background-color: rgb(91, 168, 231);
}

.founder> p{
    text-align: justify;
    color: white;
}

.aboutfooter{
    background-color: rgb(91, 168, 231);
}


@media (max-width: 600px) {

    .FD{
        border-radius: 50%;
        float: none;
        display: block;
        margin: 0 auto;
    }
}